.FCIRegulationTable {
  text-align: center;
}

.card-box {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  /* margin-top: 20px; */
}

.table-head {
  width: 100%;
  border-collapse: collapse;
  background-color: #D3D3D3;
  padding: 10px;
  vertical-align: top;
  /* margin-top: 20px; */
}

tableModal {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: transparent;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: 10%;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.add-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 45%;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.table-head-1 {
  margin-bottom: 10px;
}

.table-new-row {
  width: 100%;
  border: 0px;
  border-spacing:0;
  border-collapse:collapse;
  /* border-collapse: collapse;
  margin-top: 20px; */
}

.asterisc-red {
  color: palevioletred;
  vertical-align: top;
}

.pop-up {
  width: 20%;
}
